.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
